{% extends 'base.html.twig' %} 

    {% block main %}               
        <h1 class="titre-new">Modification de l'article</h1>

        {{ include('article_triks/_form.html.twig') }}
    {% endblock main %}             
                
    {% block javascripts %}
    {% endblock %}