{% extends 'base.html.twig' %}
        
    {# Cover part #}
    {% block main %}  
        <h1 class="cover-heading">TriksPédia</h1>
        <p class="lead">Un site vous permettant de tout savoir sur les triks en snowboard.</p>                                       
    {% endblock main %} 
    {# End of cover part #}

    {% block body %}
        {% use "home/_home_layout.html.twig" with articleList as parent_articleList, loadMoreArticle as parent_loadMoreArticle %}
        {# Triks part #}
        <section id="triks">
            {% block articleList %}
                {{ block('parent_articleList') }}
            {% endblock articleList %}
        </section>
        {# End of triks part #}

        {# "Load more" part #}
        {% block loadMoreArticle %}
            {{ block('parent_loadMoreArticle') }}
        {% endblock loadMoreArticle %}            
        {# End of "Load more" part #}
    {% endblock body %}
{% block javascripts %}{% endblock %}
