<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TriksPédia!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('build/app.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    {% if app.request.attributes.get('_route') == 'home' %}
        <body class="box-shadow-body">
    {% else %}
        <body>
    {% endif %}
                {% include "baseParam/_header.html.twig" %}

            <main role="main" class="inner cover text-center">
                {% block main %} {% endblock main %}   
            </main> 
            
                {% include "baseParam/_footer.html.twig" %}

                {% block body %} {% endblock body %}   


        {% block javascripts %}{% endblock %}
    </body>
</html>